<p>Qr Scanner</p>
<div>
    <table> <tr> <td>
    <div>
        <span>
            <table border="1" >
                <tbody>
                    <tr *ngFor="let product of productList">
                        
                        <td ><button (click)="updateQr(product)" > {{product.name}} {{product.date}} </button></td>
                    </tr>
                </tbody>
            </table>
        </span>
    </div> </td>
    <td>
    <div>
        <span>
            <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </span>
    </div>
</td>    
</tr>
    </table>
</div> 