<p>qrscanner works!</p>
<div>
    <div style="width:400px; margin:0 auto;">
        <table>
            <tbody>
                <tr *ngFor="let product of productList">
                   
                    <td ><button (click)="updateQr(product)" > {{product.name}} {{product.date}} </button></td>
                </tr>
            </tbody>
            </table>
    </div>
    <div style="float:right;">
        <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>


</div>